.control-group.error input, .control-group.error select, .control-group.error textarea {
    border-color: #b94a48;
    -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075);
}

.control-group.success input, .control-group.success select, .control-group.success textarea {
    border-color: #468847;
    -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075);
}

label.error {
	color: #e26e6c
}

label.valid {
	color: #3E964F
}

#envoyer {
	background: #3E964F;
	border-color: #3E964F;
}

.facebook {
	font-size: 40px;
}

a.back-to-top {
	display: none;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	background: #27AE61 url("images/up-arrow.png") no-repeat center 43%;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	border: 3px solid #FFFFFF;
}

.logo-header {
	margin-top: 20px;
}

.footer1 {
	background: url("images/footer-1.png");
    background-repeat: repeat-x;
}

.book2 {
	padding-top: 50px;
    padding-bottom: 50px;
	background: url("images/background-1.png");
}

.footer2 {
	background: url("images/footer-2.png");
    background-repeat: repeat-x;
	background-position:left bottom;
	padding: 50px 0px 90px 0px;
}

.navbar-toggle {
    background-color: #ffffff;
}

.menu-content {
	margin-top: 25px;
    margin-bottom: 20px;
}

#map {
	height: 100%;
}

.contact-header{
	font-family: 'Kaushan Script';
    font-size: 25px;
    color: #FFFFFF;
    margin: 0 0 20px;
}

.login-error {
	width: 200px;
	height: 20px;
	height: auto;
	position: fixed;
	left: 91%;
	margin-left: -100px;
	top: 70px;
	background-color: #F46363;
	color: #F0F0F0;
	font-family: Calibri;
	font-size: 20px;
	padding: 10px;
	text-align: center;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
	-moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
	box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
}

.login-success {
	width: 200px;
	height: 20px;
	height: auto;
	position: fixed;
	left: 91%;
	margin-left: -100px;
	top: 70px;
	background-color: #34A13B;
	color: #F0F0F0;
	font-family: Calibri;
	font-size: 20px;
	padding: 10px;
	text-align: center;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
	-moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
	box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
}

.spinner-background {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000000;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.loader1 {
	margin: 60px auto;
	font-size: 10px;
	position: relative;
	text-indent: -9999em;
	border-top: 1.1em solid rgba(255, 255, 255, 0.2);
	border-right: 1.1em solid rgba(255, 255, 255, 0.2);
	border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
	border-left: 1.1em solid #ffffff;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load8 1.1s infinite linear;
	animation: load8 1.1s infinite linear;
}

	.loader1,
	.loader1:after {
		border-radius: 50%;
		width: 10em;
		height: 10em;
	}

@-webkit-keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.row {

	margin: 0px;

}

header {

	background: #3E964F;

}

.fullbg {

	background: url("images/background-1.png");

}

.logo {

	text-align: center;

	color: #FFF;

	padding: 10px;

	border: 2px solid #FFF;

	display: block;

	margin: 60px 0px;

	font-family: "Oxygen", sans-serif;

	font-weight: 400;

	letter-spacing: 5px;

	text-transform: uppercase;

	font-size: 28px;

}

.navi {

	border-bottom: 2px solid rgba(255, 255, 255, 0.4);

	border-top: 2px solid rgba(255, 255, 255, 0.4);

	border-radius: 0px;

	margin-bottom: 0px;

}

.menu {

	display: inline-block;

	margin: 0px !important;

	list-style: none;

	padding-left: 0px !important;

	float: none;

}

.menubox {

	text-align: center;

}

.menu li {

	float: left;
	width: 20%;

}

.menu li a {

	padding: 10px;

	display: inline-block;

	color: #FFFFFF !important;

	font-family: "Lato", sans-serif;

	font-size: 12px;

	text-transform: uppercase;

	letter-spacing: 3px;

	font-weight: 700;

}

a:focus {

	outline: none;

}

.menu li a:hover, .menu li a:focus {

	text-decoration: none;

	color: #253127 !important;

	background-color:rgba(255, 255, 255, 0.1) !important;

}

.menu li:after {

	color: #3E964F;

	display: inline-block;

}

.menu li:last-child:after {

	content: "";

}

.text-banner {

	padding: 50px 0px 20px;

}
p
{
line-height: 1.5;
}

.text-banner h2 {

	color: #FFFFFF;

	font-family: 'Niconne', cursive;

	font-size: 50px;

	text-align: center;

}

.text-banner p {

	font-family: "Lato", sans-serif;
    color: #d6d6d6;
    font-size: 25px;
    text-align: center;
    font-weight: bold;

}

.welcome {

	padding: 100px 0px;
	background: url("images/background-1.png");

}

.section-container h3 {

	font-family: 'Niconne', cursive;

	color: #3E964F;

	font-size: 55px;

	margin: 0px 0px -10px;
	line-height: 1.5;

}

.header-text {

	font-family: "Oxygen", sans-serif;

	font-weight: 400;

	letter-spacing: 5px;

	text-transform: uppercase;

	font-size: 26px;

	padding-top: 5px;

	display: block;

}

.welcome-text p {

	color: #888;
	font-family: "Lato", sans-serif;

	font-size: 16px;

	margin-top: 15px;

	line-height: 28px;

}

.welcome-image img {

	width: 100%;

}

.upevent {

	background-attachment: fixed;

	background-color: #645862;

	background-image: url("images/background-event.png");

	background-position: center top;

	background-repeat: no-repeat;

	background-size: cover;

	color: #FFF;

	cursor: default;

	text-align: center;

	padding: 0px;

}

.upevent-effect {

	background-color:rgba(31, 20, 20, 0.9);

	padding: 80px 0px;

}

.uphead {

	padding: 0px 0px 40px;

}

.upbox {

	background-color: #3E964F;

	padding: 0px;

}

.upimg {

	padding: 0px;

}

.upbox img {

	width: 100%;

}

.special-note p {

	font-size: 20px;

	margin: 0px;

	padding: 10px 0px;

	font-family: "Lato", sans-serif;
	line-height: 1.5;

}

.menu-section {

	padding: 100px 0px;
	background: url("images/background-1.png");

}

.tab-content ul {

	list-style: outside none none;

	padding: 0px;

	margin-bottom: 0px;

}

.tab-content ul li {

	width: 100%;

	display: block;

	float: left;

	border-bottom: 1px dotted #3E964F;

	padding: 20px 0px 8px;

}

.tab-content ul li p:first-child {
	width: 80%;
}

.menuname {

	float: left;

}

.price {

	float: right;

}

.nav-tabs {

	border-bottom: 1px solid #3E964F;

}

.nav-tabs > li {

	float: left;

	margin-bottom: -1px;

	background-color: #3E964F;

}

.nav-tabs > li > a {

	margin-right: 2px;

	line-height: 1.42857;

	border: 1px solid transparent;

	color: rgb(255, 255, 255);

	border-radius: 0px;

	margin-right: 0px;

}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {

	color: #3E964F;

	cursor: default;

	background-color: #FFF;

	border-width: 1px;

	border-style: solid;

	-moz-border-left-colors: none;

	-moz-border-bottom-colors: none;

	-moz-border-right-colors: none;

	-moz-border-top-colors: none;

	border-image: none;

	border-color: 3E964F 3E964F transparent;

}

.nav-tabs > li > a:hover {

	border-color: #3E964F;

	background-color: #fff;

	color: #3E964F;

}

.menuhead {

}

.menuhead h3 {

	text-align: right;

}

.menuhead span {

	text-align: right;

	display:block;

}

.menuhead img {

	width: 95%;

	margin-top:20px;

	float: right;

}

.menuhead p {

	color: #888;

	font-family: "Lato", sans-serif;

	font-size: 16px;

	margin-top: 15px;

	line-height: 28px;

}

.book {

	background: #3E964F;

}

.book > .fullbg {
    padding-top: 50px;
    padding-bottom: 50px;
}

.bookhead {

	text-align: center;

}

.bookhead h3 {

	color: #FFFFFF;

}

.opening {

	padding: 40px 0px;

	text-align: center;

	font-family: "Lato", sans-serif;

	color: #888;

}

.opening h4, .opening p {

	color: #FFFFFF;

}

.opening h4 {

	font-size: 22px;

}

.opening p {

}

.forming input {

	border-color: #3E964F;

	border: 2px solid #3E964F;

	font-family: "Lato", sans-serif;

}

.forming textarea {

	border-color: #3E964F;

	border: 2px solid #3E964F;

	font-family: "Lato", sans-serif;

}

.forming input:focus, .forming textarea:focus {

	border-color: #333;

	box-shadow: none;

	border: 2px solid #333;

}

.forming button {

	border: 2px solid #36633e;
    background-color: #ffffff;
    text-align: center;
    color: #3E964F;
    padding: 7px 35px;
    font-size: 30px;

}

.forming button:focus, .forming button:hover {

	border: 2px solid #333 !important;

	background-color: #3E964F !important;

	text-align: center;

	color: #fff;

	padding: 7px 35px;

	font-size: 30px;

	color: #333;

}

.call {

	font-size: 22px;

	color: #333;

	letter-spacing: 2px;

}

.footer {

	background-color: #333;

}

.footer h3 {

	font-size: 40px;

}

.footer .header-text {

	color: #fff;

}

.address {
	color: #fff;
	/*padding: 20px 0px;*/
	font-family: 'Coming Soon'

}

.address p {

	color: #fff;

	font-family: 'Asap';

}

.social {

	padding: 20px 0px;

}

.social ul {

	list-style: none;

}

.social ul li {

	display: inline-block;

	margin: 0px 10px 0px 0px;

}

.social ul li a {

	font-size: 40px;

	color: #3E964F;

}

.social ul li a:hover {

	color: #fff;

}

.footerinfo {

	background-color: #181818;

	padding: 10px 0px;

	text-align: center;

}

.footerinfo p {

	padding: 0px;

	font-family: "Lato", sans-serif;

	margin: 0px;

	padding: 10px 0px;

	letter-spacing: 1px;

	color: #ccc;

}

.footerinfo p a {

	color: #3E964F;

}

.navb {

}

.navbar-default {

	background-color: rgba(255, 255, 255, 0);

	border-color: rgba(255, 255, 255, 0.4);

	border-left: none;

	border-right: none;

}

 @media (min-width: 768px) and (max-width: 1420px) {

.logo {

	font-size: 16px;

}

}

@media (min-width: 768px) and (max-width: 990px) {

.navbar {

	min-height: 30px;

}

.menu li a {

	padding: 8px !important;

}

.text-banner {

	/*padding: 0px 0px 100px;

	margin-top: 80px;*/

}

.text-banner h2 {

	font-size: 45px;

}

.text-banner p {

	font-size: 20px;

}

.section-container h3 {

	font-size: 40px;

}

.header-text {

	font-size: 18px;

}

.welcome2 {

	display: none;

}

}

 @media (min-width: 120px) and (max-width: 768px) {

.logo {

	margin: 15px 0px;

	position: absolute;

	font-size: 15px;

}

.navb {

	margin-top: 17px;

	position: absolute;

	right: 0px;
	margin-right:0px;

}

.menu {

	width: 100%;

}

.menu li a {

	width: 100%;

	padding: 10px;

}

.navb {

	margin-top: 0px;

}

.navi {

	border: none;

	z-index: 2;

}

.text-banner {

	padding: 5px 0px 5px;

	margin-top: 15px;

	/*position: absolute;*/

}

.text-banner h2 {

	font-size: 31px;

	z-index: 1;
	margin-top: 5px;

}

.text-banner p {

	font-size: 14px;

}

.menu li {

	float: none;

	width: 100%;

}

.menu li:after {

	content: '';

}

.menubox {

	background-color: #333;

}

.fullbg {

	height: 180px;

}

header {

	height: 180px;

}

.menubox {

	margin-top: 47px;

}

.welcome {

	padding: 30px 0px;

}

.section-container h3 {

	font-size: 40px;

	text-align: center;

}

.header-text {

	font-size: 16px;

	text-align: center;

}

.welcome-text p {

	font-size: 14px;

	line-height: 24px;

}

.upevent-effect {

	padding: 30px 0px;

}

.nav > li > a {

	padding: 7px 8px;

}

.menu-list {

	float: right;

}

.menuhead {

	float: right;

}

.book {

	padding: 30px 0px;

}

.address p {

	/*text-align: center;*/

}

.social {

	text-align: center;

}

.menu-section {

	padding: 30px 0px;

}
.footer
{
	/*padding: 30px 0px;*/
}

.logo-content{
	padding-right: 5px;
    padding-left: 10px;
	
}

.menu-content {
	margin-top: 0px;
    margin-bottom: 0px;
}

}
